In [1]:
# KPI : indicateur de performance cl√©

In [2]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

myData = pd.read_csv('resto.csv')
myData.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [3]:
# Taille du dataset entier
myData.size

27732

In [4]:
# Taille des 10 premiers
myData.head(10).size

60

In [5]:
myData.columns

Index([u'Unnamed: 0', u'order_id', u'quantity', u'item_name',
       u'choice_description', u'item_price'],
      dtype='object')

In [6]:
myData.head(10).describe()

       Unnamed: 0   order_id   quantity
count    10.00000  10.000000  10.000000
mean      4.50000   2.500000   1.100000
std       3.02765   1.509231   0.316228
min       0.00000   1.000000   1.000000
25%       2.25000   1.000000   1.000000
50%       4.50000   2.500000   1.000000
75%       6.75000   3.750000   1.000000
max       9.00000   5.000000   2.000000

In [7]:
myData.head(10).groupby(['item_name'])['quantity'].sum()
# Sur les 10 premieres lignes, c'est le Chicken Bowl le plus vendu -> quantit√© 3

item_name
Chicken Bowl                             3
Chips and Fresh Tomato Salsa             1
Chips and Tomatillo-Green Chili Salsa    1
Izze                                     1
Nantucket Nectar                         1
Side of Chips                            1
Steak Burrito                            2
Steak Soft Tacos                         1
Name: quantity, dtype: int64

In [8]:
myData['item_price'] = pd.to_numeric(myData['item_price'].str.replace('$', ''))

In [9]:
myData.head(10)
# On voit que les prix ont plus le dollar

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,1,Izze,[Clementine],3.39
2,2,1,1,Nantucket Nectar,[Apple],3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,6,3,1,Side of Chips,NaN,1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

In [10]:
myData.info()
# item_price est de type float au lieu de string pour le calcul

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
Unnamed: 0            4622 non-null int64
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
dtypes: float64(1), int64(3), object(2)
memory usage: 216.7+ KB

In [11]:
total = myData['item_price'].head(10) * myData['quantity'].head(10)
print(total)

0     2.39
1     3.39
2     3.39
3     2.39
4    33.96
5    10.98
6     1.69
7    11.75
8     9.25
9     9.25
dtype: float64

In [12]:
total.sum()
# Chiffre d'affaire sur les 10 premieres lignes

88.44